<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>あっち向いてホイ</title>
</head>
<body>
    <p>あなたは<%= your %>を指しました．</p>
    <p>コンピュータは<%= cpu %>を向いています．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
    <form action="/attimuitehoi">
        <input type="text" name="hand" required>
        <label for="hand">次はどっちだと思う？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="あっちむいて〜ホイ">
    </form>   
</body>
</html>